.containerStyle {
    background-color: rgb(195, 196, 186);
}

.cardStyle {
    width: auto;
    text-align: center;
    background-color: rgb(195, 196, 186);
    border: transparent;
    padding: 7%;
    margin-left: 15%;
    margin-right: 15%;
}

.cardTxtStyle {
    padding-top: 2%;
    background-color: rgb(195, 196, 186);
    border: transparent;
    margin-left: 15%;
    margin-right: 15%;
}

