.cardStyle {
    margin: 5%;
}

.carouselStyle {
    height: 320px;
    background-color: var(--main-bg-color)
}

.clientCardImageStyle {
    width: 9.5em;
    height: 3em;
}

.companyCardImageStyle {
    width: 9.5em;
    height: 3em;
}
